.chart {
  padding: 10px;
  margin-top: 20px;
  max-width: 500px;
}

.balance {
  padding: 10px;
  border: 1px solid #00000048;
}

.wrapper {
  overflow: hidden;
  border: 1px solid #00000048;
  border-radius: 15px;
}
